body {
    background-color: #1e2d32;
    color: #b1b3b6;
    font-family: 'Quicksand', sans-serif;
}

/*show all page style*/
.showAll{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
}

.fit_to_window{
    height: calc(100vh);
    width: 50%;
}

#featuredImage{
    object-fit: contain;
}

.stats_and_player {
    margin: auto;
    width: 60%;
}

#ecoStats{
    padding-right: .8em;
}

#additionalLinks a{
    color: #87CEEB;
    text-decoration: none;
    display: block;
    line-height: 1.8;
}

#additionalLinks a:hover{
    color: red;
    text-decoration: underline;
}


/*footer styles*/
.footer a{
    color: #F9F6EE;
    text-decoration: none;
}
.footer a:hover{
    color: red;
    text-decoration: underline;
}

/*header styles*/
.header{
    display: flex;
    flex-flow: row nowrap;	
    padding: .2em .5em 1.5em;
    justify-content: space-evenly;
}

.navTitle{
    font-family: 'Chonburi', cursive !important;
	font-size: 1.4em;
}

.header a{
		color: #FFED5F;
		text-decoration: none;
		padding-right: .5em;
		font-size: 1.2em;
	}
.header a:hover{
		color: red;
		text-decoration: underline;
}

.header p{
	font-size: 1.2em;
	color: #939699;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}

/*nav links*/
.header nav a{
    font-size: 1em;
    color: #F9F6EE;
    text-decoration: none;
    padding-right: .3em;
    font-family: 'Quicksand', sans-serif;
}
.header nav a:hover{
    color: red;
    text-decoration: underline;
}

/*hide WP admin bar*/
#wpadminbar { display:none !important;}

/*button styles*/
button{
    height: 60%;
    padding: .5em;
    margin: .5em;
    background-color: #1e2d32;
    color: red;
}

/*Home Page Grid/Image Gallery*/
.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: [row1-start] auto [row1-end] auto [third-line] auto [last-line];
    column-gap: 25px;
    row-gap: 20px;
    object-fit: contain;
}

.container img{
    width: 100%;
}

/*taxonomy pages*/
.wrapper{
   width: 950px;
   margin: auto;
}

.primary-content{  
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: [row1-start] auto [row1-end] auto [third-line] auto [last-line];
    column-gap: 25px;
    row-gap: 20px;    
}

.content{
    object-fit: contain;
}

#taxonomy_image{
    width: 375px;
}

.post-title{
    text-align: justify;
    font-size: 1.2em;
}

.post-title a{
    color: #87CEEB;
    text-decoration: none;
    display: block;
}

.post-title a:hover{
    color: red;
	text-decoration: underline;
}

.archive-title{
    font-weight: bolder;
    font-size: 3.5em;
    text-align: center;
}