body {
    background-color: #1e2d32;
    color: #939699;
    font-family: 'Poppins', sans-serif;
}

/*show all page style*/

.showAll{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
}

.fit_to_window{
    height: calc(100vh);
    width: 70%;
}

#featuredImage{
    object-fit: cover;
}

.stats_and_player {
    margin: auto;
    width: 60%;
}

#additionalLinks a, #additionalLinksCopy a, #additionalLinksCopy2 a{
    color: #87CEEB;
    text-decoration: none;
}

#additionalLinks a:hover, #additionalLinksCopy a:hover, #additionalLinksCopy2 a:hover{
    color: red;
    text-decoration: underline;
}


/*footer styles*/
.footer{
    display: flex;
    flex-flow: row nowrap;
}

.footer a{
    color: #F9F6EE;
    text-decoration: none;
    padding-right: .5em;
}
.footer a:hover{
    color: red;
    text-decoration: underline;
}

.footer p{
font-size: 1em;
color: #939699;
padding-right: .5em;
}


/*header styles*/

.header{
	padding-left: 0.5em;
	font-family: 'Chonburi', cursive;
    line-height: 0 !important;
    /* width: 50%; */
}

.header a{
		color: #F9F6EE;
		text-decoration: none;
		padding-right: .5em;
		font-size: 1.2em;
	}
.header a:hover{
		color: red;
		text-decoration: underline;
	}

.header p{
	font-size: 1em;
	color: #939699;
}

/*hide WP admin bar*/
#wpadminbar { display:none !important;}

/*button styles*/
button{
    height: 60%;
    padding: .5em;
    margin: .5em;
    background-color: #1e2d32;
    color: red;
}