body {
    background-color: #1e2d32;
    color: #939699;
    font-family: 'Poppins', sans-serif;
}

/*show all page style*/
.stats_and_player {
    margin: auto;
    width: 60%;
    padding-top: 5em;
    padding-bottom: 5em;
}

.ecoStats p {
    font-weight: bold;
    letter-spacing: 1px;
}

.audioPlayer{
    display: flex;
    align-items: flex-start;
}

/* Using flex with the column direction to
align items in a vertical direction */
.player {
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* Changing the font sizes to suitable ones */
.track-artist {
    font-size: 1.5rem;
}

/* Using flex with the row direction to
align items in a horizontal direction */
.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.playpause-track {
    padding: 25px;
    opacity: 0.8;
    /* Smoothly transition the opacity */
    transition: opacity .2s;
}

/* Change the opacity when mouse is hovered */
.playpause-track:hover {
    opacity: 1.0;
}

/* Define the slider width so that it scales properly */
.slider_container {
    width: 75%;
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Modify the appearance of the slider */
.seek_slider,
.volume_slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 5px;
    background: black;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

/* Modify the appearance of the slider thumb */
.seek_slider::-webkit-slider-thumb,
.volume_slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: white;
    cursor: pointer;
    border-radius: 50%;
}

/* Change the opacity when mouse is hovered */
.seek_slider:hover,
.volume_slider:hover {
    opacity: 1.0;
}

.seek_slider {
    width: 60%;
}

.volume_slider {
    width: 30%;
}

.current-time,
.total-duration {
    padding: 10px;
}

i.fa-volume-down,
i.fa-volume-up {
    padding: 10px;
}

/* Change the mouse cursor to a pointer
when hovered over */
i.fa-play-circle,
i.fa-pause-circle,
i.fa-step-forward,
i.fa-step-backward {
    cursor: pointer;
}

.ecoImage {
    float: right;
}
/*footer styles*/
.footer{
    display: flex;
    flex-flow: row nowrap;
}

.footer a{
    color: white;
    text-decoration: none;
    padding-right: .5em;
}
.footer a:hover{
    color: red;
    text-decoration: underline;
}

.footer p{
font-size: 1em;
color: #939699;
padding-right: .5em;
}


/*header styles*/

.header{
	display: flex;
	flex: row nowrap;
	padding: .5em;
	font-family: 'Chonburi', cursive;
}

.header a{
		color: white;
		text-decoration: none;
		padding-right: .5em;
		font-size: 1.2em;
	}
.header a:hover{
		color: red;
		text-decoration: underline;
	}

.header p{
	font-size: 1em;
	color: #939699;
}

/*hide WP admin bar*/
#wpadminbar { display:none !important;}